@model List<ScripturePublishing.Models.ProcessStepDto> 
@using System.Web.Mvc.Html
@using ScripturePublishing.Helpers

@{
    ViewBag.Title = "Index";
}

<h2>Process Steps</h2>

@using (Html.BeginForm("Index", "ProcessStep", FormMethod.Post))
{
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Action Type Name</td>
            <td>Process Name</td>
        </tr>
        @foreach (var processStep in Model)
        {
            <tr>
                <td>@Html.ActionLink(processStep.ID.ToString(), "Edit", "ProcessStep", new { id = processStep.ID }, null)</td>
                <td>@processStep.ActionTypeName</td>
                <td>@processStep.ProcessName</td>
                @*<td><button>@Html.ActionLink("X", "Delete", "ProcessStep", new { id = processStep.ID }, null)</button></td>*@
            </tr>
        }
        <tr>
            <td></td>
            <td>@Html.DropDownList("actionTypeId", ActionTypeHelper.GetActionTypeList())</td>
            <td>@Html.DropDownList("processId", ProcessHelper.GetProcessList())</td>
        </tr>
    </table>
    <input type="submit" value="ADD"/>
}