@using System.Web.Mvc.Html
@using ScripturePublishing.Helpers
@model List<ScripturePublishing.Models.ProcessStepOrderDto> 
@{
    ViewBag.Title = "Index";
}

<h2>Process Step Orderings</h2>

<h2>Process Steps</h2>

@using (Html.BeginForm("Index", "ProcessStepOrder", FormMethod.Post))
{
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Last Process Step ID</td>
            <td>Next Process Step ID</td>
            <td>Result Type Description</td>
        </tr>
        @foreach (var processOrderStep in Model)
        {
            <tr>
                <td>@Html.ActionLink(processOrderStep.ID.ToString(), "Edit", "ProcessStepOrder", new { id = processOrderStep.ID }, null)</td>
                <td>@processOrderStep.LastProcessStepId</td>
                <td>@processOrderStep.NextProcessStepId</td>
                <td>@processOrderStep.ResultTypeDescription</td>
                <td><button>@Html.ActionLink("X", "Delete", "ProcessStepOrder", new { id = processOrderStep.ID }, null)</button></td>
            </tr>
        }
        <tr>
            <td></td>
            <td>@Html.DropDownList("lastProcessStepId", ProcessStepHelper.GetProcessStepList())</td>
            <td>@Html.DropDownList("nextProcessStepId", ProcessStepHelper.GetProcessStepList())</td>
            <td>@Html.DropDownList("resultTypeId", ResultTypeHelper.GetResultTypeList())</td>
        </tr>
    </table>
    <input type="submit" value="ADD" />
}